# APP
NODE_ENV="production"
NEXT_PUBLIC_APP_URL="https://your-domain.com"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET="generate-a-strong-secret"
JWT_SECRET_KEY="generate-a-strong-jwt-secret"

GOOGLE_ID="your-google-client-id"
GOOGLE_SECRET="your-google-client-secret"
GITHUB_ID="your-github-client-id"
GITHUB_SECRET="your-github-client-secret"

# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL="postgresql://user:password@host:port/database"

# EMAIL (@ RESEND)
RESEND_API_KEY="re_your_api_key"
RESEND_EMAIL_FROM="noreply@your-domain.com"
RESEND_EMAIL_TO="admin@your-domain.com"
RESEND_HOST="smtp.resend.com"
RESEND_USERNAME="resend"
RESEND_PORT="465"